<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="layout(pageTitle, headerTitle, pageDescription, additionalCss, pageScripts, pageContent)">
<head th:replace="~{fragments/head :: head(description=${pageDescription}, additionalCss=${additionalCss})}"></head>
<body class="d-flex flex-column col-12 container-fluid p-0 overflow-hidden h-100">
    <header th:replace="~{fragments/header :: header(title=${headerTitle})}"></header>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="flex-grow-1 overflow-hidden">
        <div class="container-fluid h-100 row">
            <main class="col-lg-9 col-12 p-4 h-100 overflow-auto">
                <th:block th:replace="${pageContent}"></th:block>
            </main>
            <aside
                    class="col-lg-3 d-none d-lg-block"
                    th:replace="~{fragments/news :: news}"
            ></aside>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <th:block th:if="${pageScripts}">
        <th:block th:insert="${pageScripts}"></th:block>
    </th:block>
</body>
</html>
