<!DOCTYPE html>
<main th:replace="~{fragments/layout :: layout(
    pageTitle='Card announcements',
    headerTitle='Card announcements',
    pageDescription='Card announcements',
    additionalCss=null,
    pageScripts=null,
    pageContent=~{:: content}
)}">
    <section th:fragment="content">
        <h2>Card announcements</h2>

        <form th:action="@{/}" method="get" class="d-flex flex-column flex-md-row gap-2 align-items-md-end mb-4">
            <div>
                <label for="search">Search by name</label>
                <input type="text" id="search" name="name" class="form-control" th:value="${param.name}">
            </div>
            <div>
                <label for="type">Filter by type</label>
                <select id="type" name="type" class="form-select">
                    <option value="" th:selected="${param.type == null or param.type == ''}">All</option>
                    <option th:each="typeOpt : ${T(ch.supsi.web.cardgames.model.CardType).values()}"
                            th:value="${typeOpt}"
                            th:text="${typeOpt}"
                            th:selected="${param.type == typeOpt.name()}">
                        Pokemon
                    </option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-dark custom-hover" style="background-color: lightpink">Search</button>
            </div>
        </form>

        <div class="cards-container d-flex flex-column flex-md-row flex-wrap justify-content-center justify-content-lg-start align-items-center gap-3">
            <a th:each="card : ${cards}" th:href="@{'/card/' + ${card.id}}" class="card-link">
                <div th:replace="~{fragments/card :: card(${card})}"></div>
            </a>
        </div>
    </section>

</main>