* {
    box-sizing: border-box; /* Evita problemi di dimensioni */
}



form {
    grid-column: span 12;
    background-color: white;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto auto auto;
}

fieldset {
    border: 2px solid lightpink;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    max-width: 100%;
}

legend {
    font-weight: bold;
    color: lightpink;
}

div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input,select, textarea {
    width: 99%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: lightpink;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: darkgray;
}