.container-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    justify-content: space-between;
    margin-top: 3px;
    padding: 0 5px;
    width: 100%;
}


body {
    background-color: #ffe4e1; /* Rosa chiaro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
}

.navbar > a:nth-child(7) {margin-left: auto;}

.navbar {
    grid-column: span 12;
    background-color: #ffb6c1; /* Rosa più scuro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.navbar a:hover {
    color: white;
    transform: scale(1.1);
}

footer {
    background-color: #ffb6c1;
    text-align: center;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

footer small {
    font-size: 15px;
}